.tableofcontent {
    padding: 0 100px;
    margin-top: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #f2f2f2;
    color: #000;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border: 1px solid #000;
}

td {
    padding: 5px;
    border: 1px solid #000;
}

.buttonToHomePage {
    position: relative;
    padding: 0 200px;
    margin-top: 10px;
    text-align: center;
}

.member-image{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}